
@{
    ViewBag.Title = "AddBook";
}

<h2>AddBook</h2>
@Html.ActionLink("Переглянути формуляр", "ShowCard", "Home", new { idUser = @ViewBag.userId }, null)
@Html.ActionLink("На головну", "IndexShowUser")

